<h2>Meu carrinho de compras</h2>

<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>Nome</th>
    <th>Preço Unitário</th>
    <th>Quantidade</th>
    <th>Preço Total</th>
  </tr>
  </thead>
  <tbody>
  <% pedido_atual.itens.each do |i| %>
      <%= render 'item', :item => i %>
  <% end %>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"></td>
    <td>Preço Total</td>
    <td> <%= number_to_currency pedido_atual.preco_total %> </td>
  </tr>
  </tfoot>
</table>