.navbar.navbar-fixed
  .navbar-inner
    .container
      = link_to 'Loja', root_url, :class => 'brand'
      .nav-collapse.collapse
        %ul.nav
          %li= link_to 'Produtos', admin_produtos_url
          %li= link_to 'Categorias', admin_categorias_url
          %li= link_to 'Usuarios', admin_usuarios_url